<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}
                <a class="site-nav-logo" href="{{site.baseurl}}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{site.baseurl}}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.github %}
                <a class="social-link social-link-github" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener">{% include github.html %}</a>
            {% endif %}
            {% if site.mail %}
                <a class="social-link social-link-mail" href="mailto:{{site.mail}}" target="_blank" rel="noopener">{% include mail.html %}</a>
            {% endif %}
        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {% endif %}
    </div>
</nav>
